{% extends 'base.html' %}
{% block title %} 
    About me
{% endblock %}


{% block content %}
    <div class="container mt-5">
      <h1>Мои работы:</h1>
      <p>Количест мест работ: {{ count }}</p>
        {% if jobs|length > 0 %}
          {% for job in jobs %}
            <div class="alert alert-info">
            <h4>Компания:{{ job.company }}</h4>
            <h4>Подробнее:{{ job.description }}</h4>
            <p>Начало работы:{{ job.date_start }}</p>
            <p>Окончание:{{ job.date_end }}</p>
            <a href="about/{{ job.id }}" class="btn btn-warning">Подробнее</a>
            </div>
          {% endfor %}
        {% else %}
            <h2>Не указано ни одно рабочее место!!!</h2>
        {% endif %}
        <p>количество просмотром страницы: <b>{{ visits }}</b></p>
        <a href="about/clear" class="btn btn-info">Обнулить счетчик</a>

    </div>
{% endblock %}
